/* #region STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
  --white: #ffffff;
  --black: #000000;

  --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* #region LOCAL STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.container {
  width: 100%;
  /* min-width: 320px; */
  padding: 0 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

.section {
  padding: 96px 0;
  margin: 0 auto;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.heading {
  color: var(--white);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 767px) {
  .heading {
    font-size: 56px;
    line-height: 1.07;

    max-width: 496px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1158px) {
  .heading {
    margin-bottom: 48px;
  }
}

.title {
  color: var(--navy-blue);
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.components-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

@media screen and (max-width: 767px) {
  .components-subtitle {
    text-align: center;
  }
}

@media screen and (min-width: 1158px) {
  .components-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-top: 8px;
}

/* #endregion LOCAL STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* #region HEADER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.header-page {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  padding: 14px 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header-page {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1158px) {
  .header-page {
    padding: 24px 0;
  }
}

/** === HEADER LOGOTYPE ======================================= **/

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-transform: uppercase;
}

.logo-link-header {
  color: var(--navy-blue);
}

/** === HEADER NAVIGATION ======================================= **/

.main-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .nav-menu-list {
    display: flex;
    align-items: center;
  }

  .nav-menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

    transition: color var(--transition-hover-focus);
  }

  .nav-menu-link:hover,
  .nav-menu-link:focus {
    color: var(--ocean);
  }

  .nav-current {
    position: relative;
    color: var(--ocean);

    transition: background-color var(--transition-hover-focus);
  }

  .nav-current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -25px;

    background-color: var(--ocean);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1158px) {
  .nav-menu {
    gap: 76px;
  }
}

/** === HEADER ADDRESS ======================================= **/

.address-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .address-list {
    display: block;
  }

  .address-item:first-child {
    margin-bottom: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--slate);

    transition: color var(--transition-hover-focus);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--ocean);
  }
}

@media screen and (min-width: 1158px) {
  .address-item:first-child {
    margin-bottom: 0;
  }

  .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/** === BURGER BUTTON  ========================================================= **/

.menu-open-btn {
  line-height: 0;
  background-color: transparent;
  border: none;

  margin: 0;
  padding: 0;
}

.menu-open-btn-icon {
  width: 44px;
  height: 44px;
  fill: var(--navy-blue);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

/* #endregion HEADER ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* #region MOBILE MENU ============================================================== */

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: var(--white);

  /* opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--transition-hover-focus), visibility var(--transition-hover-focus); */
  transform: translateX(100%);
  transition: transform var(--transition-hover-focus);
}

.mobile-menu.is-open {
  /* opacity: 1;
  visibility: visible;
  pointer-events: auto; */
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 80px 35px 40px 40px;
}

.menu-close-btn {
  position: absolute;

  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 24px;
  min-height: 24px;

  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition: background var(--transition-hover-focus);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background: var(--ocean);
  border: none;
}

.menu-close-btn-icon {
  width: 8px;
  height: 8px;

  fill: var(--navy-blue-modal);

  transition: fill var(--transition-hover-focus);
}

.menu-close-btn:hover .menu-close-btn-icon,
.menu-close-btn:focus .menu-close-btn-icon {
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-item {
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.mobile-menu-current {
  color: var(--ocean);
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: auto;
  margin-bottom: 48px;
}

.mobile-menu-address-item {
}

.mobile-menu-phone-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--iris);
}

@media screen and (max-width: 427px) {
  .mobile-menu-phone-link {
    font-size: 20px;
    line-height: 1.4;
  }
}

.mobile-menu-mail-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--slate);
}

.mobile-menu-soc-list {
  display: flex;
  max-width: 428px;
  gap: 56px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-soc-list {
    max-width: 320px;
    gap: 20px;
  }
}

.mobile-menu-soc-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color var(--transition-hover-focus);
}

.mobile-menu-soc-link:hover,
.mobile-menu-soc-link:focus {
  background-color: var(--ocean);
}

.mobile-menu-soc-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

/* #endregion MOBILE MENU ============================================================== */

/* #region STUDIO MAIN ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* #region STUDIO SECTION HERO =========================================== */

.hero-section {
  max-width: 428px;
  text-align: center;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-color: var(--navy-blue);

  padding: 112px 0;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg-mobile@2x.jpg");
  }
}

@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg-mobile@3x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg-tablet.jpg");
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero-bg-tablet@2x.jpg");
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero-bg-tablet@3x.jpg");
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg-laptop.jpg");
    padding: 188px 0;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero-bg-laptop@2x.jpg");
    }
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("../images/hero-bg-laptop@3x.jpg");
    }
  }
}

.hero-btn {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  padding: 16px 32px;

  transition: background-color var(--transition-hover-focus);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* #endregion STUDIO SECTION HERO =========================================== */

/* #region STUDIO SECTION COMPONENTS ======================================= */

.components-section {
  padding-top: 96px;
}

.components-item:not(:last-child) {
  margin-bottom: 72px;
}

.components-pic {
  display: none;
}

@media screen and (min-width: 768px) {
  .components-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .components-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .components-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .components-section {
    padding-top: 120px;
  }

  .components-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .components-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;

    margin-bottom: 8px;
  }
}

/* #endregion STUDIO SECTION COMPONENTS ======================================= */

/* #region STUDIO SECTION WORKS ============================================ */

.works-section {
  display: none;

  padding-top: 0;
}

@media screen and (min-width: 1158px) {
  .works-section {
    display: block;
  }

  .works-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 72px;
    margin-left: -24px;
  }

  .works-item {
    flex-basis: calc(100% / 3 - 24px);

    margin-left: 24px;
  }
}

/* #endregion STUDIO SECTION WORKS ============================================ */

/* #region STUDIO SECTION OUR TEAM ========================================== */

.team-section {
  background-color: var(--cloud);
}

.team-container {
  max-width: 264px;
  margin: 0 auto;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  margin-top: 72px;
}

.team-item {
  /* width: 264px; */

  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-container {
    max-width: 552px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    max-width: 100%;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-content-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.team-content-item {
  width: 44px;
  height: 44px;
}

.team-content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--transition-hover-focus);
}

.team-content-link:hover,
.team-content-link:focus {
  background-color: var(--ocean);
}

.team-content-icon {
  width: 16px;
  height: 16px;
  fill: var(--white);
}

/* #endregion STUDIO SECTION OUR TEAM ========================================== */

/* #region STUDIO SECTION CUSTOMERS ======================================= */

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;

  margin-top: 72px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customers-container {
    max-width: 552px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .customers-container {
    max-width: 100%;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);

  transition: border var(--transition-hover-focus), color var(--transition-hover-focus);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* #endregion STUDIO SECTION CUSTOMERS ======================================= */

/* #endregion STUDIO MAIN ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* #region PORTFOLIO MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.portfolio-section {
  padding: 48px 0;
}

@media screen and (min-width: 768px) {
  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

/* #region PORTFOLIO BUTTONS ===================================================== */

.portfolio-btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;

  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-btn-list {
    justify-content: center;

    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-btn-list {
    margin-bottom: 72px;
  }
}

.portfolio-btn {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  height: 48px;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;

  transition: color var(--transition-hover-focus), background-color var(--transition-hover-focus),
    box-shadow var(--transition-hover-focus);
}

.portfolio-btn:active {
  color: var(--white);
  background-color: var(--ocean);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* #endregion PORTFOLIO BUTTONS ===================================================== */

/* #region PORTFOLIO GALLERY ==================================================== */

.portfolio-item {
  background-color: var(--white);
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-item:not(:last-child) {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-link {
  display: block;

  transition: box-shadow var(--transition-hover-focus);
}

.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  transform: translate(0, 100%);

  transition: transform var(--transition-hover-focus);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background-color: var(--iris);
  color: var(--cloud);

  padding: 40px 32px;
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translate(0, 0);
}

.portfolio-item-content {
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);

  padding: 32px 16px;
}

/* #endregion PORTFOLIO GALLERY ==================================================== */

/* #endregion PORTFOLIO MAIN +++++++++++++++++++++++++++++++++++++++++++++ */

/* #region FOOTER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer-page {
  background-color: var(--navy-blue-modal);
  padding: 96px 0;
  margin: 0 auto;
}

.footer-container {
  display: block;
  max-width: 552px;
}

.footer-wrap {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    gap: 80px;

    max-width: 100%;
  }

  .footer-page {
    padding: 100px 0;
  }

  .footer-wrap {
    gap: 120px;
    margin: 0;
  }
}

/** === FOOTER CONTENT ======================================= **/

.footer-content {
  width: 264px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-content {
    text-align: left;
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
}

.logo-link-footer {
  color: var(--cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--cornflower);

  margin-top: 16px;
}

/** === FOOTER CONTACTS ======================================= **/

.footer-contacts {
  width: 208px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    text-align: left;
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
}

.logo-link-footer {
  color: var(--cloud);
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white);

  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color var(--transition-hover-focus);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

/** FOOTER SUBSCRIBE ============================================== **/

.footer-subscribe {
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    width: 453px;
  }

  .footer-title {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
}

.footer-form-input {
  width: 100%;
  height: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;

  background-color: transparent;
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 8px 16px;
}

.footer-form-input:focus {
  outline: none;
}

.footer-form-input::placeholder {
  color: var(--white);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 16px;

  background-color: var(--iris);
  color: var(--white);
  border-radius: 4px;
  border: none;

  padding: 8px 24px;

  transition: background-color var(--transition-hover-focus);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--ocean);
}

.footer-form-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-form-btn-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

/* #endregion FOOTER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* #region MODAL WINDOW ======================================================= */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-hover-focus), visibility var(--transition-hover-focus);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 32px);
  max-height: 586px;

  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 408px) {
  .modal {
    width: 408px;
  }
}

.modal-close-btn {
  position: absolute;

  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 24px;
  min-height: 24px;

  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition: background var(--transition-hover-focus);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--ocean);
  border: none;
}

.modal-close-icon {
  width: 8px;
  height: 8px;

  fill: var(--navy-blue-modal);

  transition: fill var(--transition-hover-focus);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--white);
}

/* #endregion MODAL WINDOW ======================================================= */

/* #region MODAL FORM ============================================== */

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);

  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate);

  margin-bottom: 4px;
}

.modal-form-input-wrap {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  color: var(--navy-blue-modal);

  padding-left: 42px;

  transition: borber-color var(--transition-hover-focus);
}

.modal-form-input:focus {
  border-color: var(--iris);
  outline: none;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);

  fill: var(--navy-blue-modal);

  transition: fill var(--transition-hover-focus);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--ocean);
}

.modal-form-message {
  width: 100%;
  min-height: 80px;
  max-height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  color: var(--navy-blue-modal);

  padding: 8px 16px;

  transition: borber-color var(--transition-hover-focus);
}

.modal-form-message:focus {
  border-color: var(--iris);
  outline: none;
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--light-slate);
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  min-width: 16px;
  min-height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  margin-right: 8px;

  cursor: pointer;

  transition: background-color var(--transition-hover-focus),
    background-image var(--transition-hover-focus), border-color var(--transition-hover-focus);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--ocean);

  background-image: url(../images/modal-vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  border-color: var(--ocean);
}

.modal-form-check-desc-link {
  line-height: 1.33;

  color: var(--iris);
}

.modal-form-btn {
  align-self: center;

  min-width: 169px;
  min-height: 56px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  padding: 16px 32px;
  margin-top: 24px;

  transition: background-color var(--transition-hover-focus);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--ocean);
}

/* #endregion MODAL FORM ============================================== */
